html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}

/* ============ Header ============ */
header{
    background-color: #2047cf;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: none;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.menu{
    border: none;
    margin: .01rem;
    padding: .01rem;
}



/* ============ Títulos ============ */
.title{
    border: none;
    padding: .01rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.title2, .subtitle {
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}
.title2{
    font-size: 2rem;
}

.ultitle{
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}
.title3{
    font-size:1.5rem;
    text-align: center;
    font-weight: bold;
}

.title4{
    text-align: center;
    font-weight: bold;
}



/* ============ texto ============ */

.right{
    text-align: end;
}

.bold {
    font-weight: bold;
}

.longText{
    font-family: 'PT Serif', serif;
}

/* ============ hyperlinks ============ */
a{
    color: black;
    text-emphasis: none;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: bold;
}



/* ============ Listas ============ */
ul{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    height :100%;
}

li{
    width: 100%;
    margin-top: .5rem;
}

.listaBorda {
    margin-left: 5%;
    border-left-width: 0.12rem;
    border-color: #b7b7b7;
    padding: 8px 12px;
    margin-top: 5%;
    border-left-style: solid;
    font-size: 14px;
    position: relative;
}

.arquivos{
    color: #b7b7b7;
    text-decoration: underline;
    
}



/* ============ Botões ============ */
.imgMenu{
    width: 2.3rem;
    height: 2.3rem;
}

.imgVoltar{
    width: 1.4rem;
    height: 1.4rem;
}



/* ============ Botões ============ */
.button{
    background-color: #b7b7b7;
    border-radius: 0.2rem;
    border: none;
    height: 1.5rem;
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    margin: .2rem;
}

.voltar{
    background: none;
}

.textbutton{
    margin: 0.2rem;
    color: black;
    border: none;
}

.escolhas,.telaInicial{
    margin:0.3rem;
    font-size: 1.5rem;
    width: 98%;
}

.adicionar{
    margin: 0 10% 0 75%;
    padding: 2%;
}

.menuAdicionar{
    color: #b7b7b7;
    text-decoration: underline;
}

.buttonDescricao{
    color: #b7b7b7;
    text-decoration: underline;
}


/* ============ Calendario ============ */

table {
    border-collapse: collapse;
    border-spacing: 0 15px;
    margin: 5%;
  }
  
th {
    color: #b7b7b7;
    height: 10px;
    padding: 1%;
}

td {
    width: 150rem;
    height: 4rem;
    text-align: center;
    border: 1px solid #b7b7b7;
    font-weight: bold;
    padding: 5px;
}

.mes {
    text-align: center;
    
}

.avisos {
    padding: 15%;
    font-size: small;
    text-align: center;;
    color: black;
}

.tasks {
    margin-left: 5%;
    margin-top: 2rem;
    border-color: #b7b7b7;
    border-left-width: .2rem;
    padding: .5rem .8rem;
    margin-top: 5%;
    border-left-style: solid;
    position: relative;
}

.item1, .item2, .item3{
    padding: 2%;
}


.task1 {
    background-color: #e06666;
    border-radius: 0.2rem;
}

.cor1 {
    padding: .5rem 0 .5rem 2%;
}

.task2 {
    background-color: #ffd966;
    border-radius: 0.2rem;
}

.cor2 {
    padding: .5rem 0 .5rem 2%;
}

.task3 {
    background-color: #93c47d;
    border-radius: 0.2rem;
}

.cor3 {
    padding: .5rem 0 .5rem 2%;
}

/* ============ Descrição ============ */
.boxDescricao {
    margin: 2%;
}

.dia {
    padding: 1% 0 2% 0;
    text-align: center;
}

.describe {
    text-align: center;
    justify-content: space-between;
    margin: 2%;
    padding: 2%;
    border: 40px;
    border-color: black;
}



/* ============ Avisos ============ */

.boxAvisos {
    margin: 2% 10% 0 0;
}

.aviso1, .aviso2, .aviso3 {
    margin-left: 5%;
    border-left-width: 0.2rem;
    padding: .5rem .8rem;
    margin-top: 5%;
    border-left-style: solid;
    border-color: #b7b7b7;
    position: relative;
}

.data {
    text-align: end;
}

/* ============ Add Tarefa - Add Aviso - Sua duvida ============ */


.boxAddTarefa, .boxAddAviso, .boxEscrevaDuvida {
    margin:10%;
    text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    margin-top: 2%;
    margin-bottom: 5%;
}



/* ============ Dúvidas - Respostas ============ */


.nome {
    text-align: left;
    padding: 5%;
    font-size: 1.3rem;
    font-weight: bold;
}

.duvida{
    text-align: center;
    padding: 5%;
    border: 1rem black;
    text-align: justify;
    border-width: .15rem;
    border-style: solid;
    border-color: #b7b7b7;
}

.writeResposta{
    flex-direction: row;
}

.acoes{
    color: #b7b7b7;
    text-decoration: underline;
}

.respostas {
    margin: 1rem 2rem 2rem 2rem;
}

.resposta {
    text-align: justify;
    padding: 5%;
    border-left-width: .15rem;
    border-style: solid;
    border-color: #b7b7b7;
    margin-bottom: 2rem;
}

.like{
    color: #b7b7b7;
    text-decoration: underline;
}

#h5Resposta {
    padding: 5%;
    font-weight: bold;
}



/* ============ Footer ============ */
footer{
    text-align: right;
}

.colaboradores{
    color: #b7b7b7;
    text-decoration: underline;
}

.addHub{
    width: fit-content;
    background-color: #b7b7b7;
    border-radius: 2rem;
    border: none;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 75%;
    text-decoration: none;
}