html, body {
    height: 100%;
    width: 100%;
    font-family: Montserrat, "sans-serif";
}

/* --------- Header ------------ */
header{
    display: flex;
    flex-direction: row;
    margin: .5rem;
    border-bottom: .12rem solid gray;
}
.menu{
    border: none;
    margin: .01rem;
    padding: .01rem;
}


.title{
    font-family: "Lucida Console", Courier, monospace;
    border: none;
    margin-left: 10%;
    padding: .01rem;
    font-size: 3rem;
    font-weight:bold;
}

/* --------- Listas ------------ */
ul{
    display: flex;
    flex-direction: column;
    height:100%;
    padding: 0.5%;
}

li{
    padding: 0.5%;
}

/* --------- Calendario ------------ */
table {
    border-collapse: collapse;
    border-spacing: 0 15px;
    margin: 5%;
  }
  
th {
    color: rgba(55, 43, 55, 0.604);
    height: 10px;
    padding: 1%;
}

td {
    width: 150rem;
    height: 4rem;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.597);
    color: rgba(56, 46, 56, 0.885);
    font-weight: bold;
    padding: 5px;
}

.mes {
    text-align: center;
    
}

.avisos {
    padding: 15%;
    font-size: small;
    text-align: center;;
    color: black;
}

.tasks {
    margin-left: 5%;
    border-left-width: 3px;
    padding: 8px 12px;
    margin-top: 5%;
    border-left-style: solid;
    font-size: 14px;
    position: relative;
}

.item1, .item2, .item3, .add {
    padding: 2%;
}

/* --------- Botões ------------ */
.button{
    background-color: silver;
    border-radius: 0.2rem;
    border: none;
    height: 1.5rem;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    margin: .01rem;
}

.textbutton{
    margin: 0.2rem;
    color: black;
    border: none;
}

.TelaInicial{
    
}

.escolhas{
    height: 100%;
}

.rodape {
    padding-left: 1.3%;
}

/* ---------- Descricao ----------- */
.boxDescricao {
    margin: 2%;
}

.titulo, .subtitle {
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}

.dia {

    padding: 1% 0 2% 0;
    text-align: center;
}

.describe {
    text-align: center;
    justify-content: space-between;
    margin: 2%;
    padding: 2%;
    border: 40px;
    border-color: black;
}

.text {
    margin-top: 2rem;
    text-align: center;
}

.arquivos {
    margin-left: 5%;
    border-left-width: 3px;
    padding: 8px 12px;
    margin-top: 5%;
    border-left-style: solid;
    font-size: 14px;
    position: relative;
}

/* -------- Avisos -------- */

.boxAvisos {
    margin: 2%;
}

.aviso1, .aviso2, .aviso3 {
    margin-left: 5%;
    border-left-width: 3px;
    padding: 8px 12px;
    margin-top: 5%;
    border-left-style: solid;
    font-size: 14px;
    position: relative;
}

/* ----- Add Tarefa - Add Aviso - Sua duvida -----*/


.boxAddTarefa, .boxAddAviso, .boxEscrevaDuvida {
    margin:10%;
    text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    margin-top: 2%;
    margin-bottom: 5%;
}

/* ----- Duvidas -Respostas ----- */

.boxDuvidas, .boxRespostas {
    margin: 10%;
}

.nome, .duvida {
    text-align: center;
    padding: 5%;
    border: 1rem black;
}

.nome {
    font-weight: bold;
}

.duvida{
    text-align: justify;
    border-width: .21rem;
    border-style: dashed;
    border-color: rgb(35, 31, 55);
}

.writeResposta{
    margin-top: 5%;
    margin-right: 55%;
    margin-bottom: 7%;
    padding: 2%;
    border-width: .15rem;
    border-style: solid;
    border-color: rgb(29, 26, 22);
}

.respostas {
    margin: 5% 0 2% 0;
}

.resposta {
    text-align: justify;
    padding: 5%;
    border-width: .21rem;
    border-style: dashed;
    border-color: rgb(35, 31, 55);
}

#h5Resposta {
    padding: 5%;
    font-weight: bold;
}

.like {
    margin: 2% 0 5% 0;
}

/* ----- Add Tarefa - Add Aviso - Sua duvida -----*/


.boxAddTarefa, .boxAddAviso, .boxEscrevaDuvida {
    margin:10%;
    text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    margin-top: 2%;
    margin-bottom: 5%;
}

